.form-box{
    background-color:lightgray;
}

.forgot{
    text-decoration: none;
}

@media screen and (max-width:992px){
    .form-box{
        width:100%;
    }
    .forgot{
        margin-left:220px;
    }
    
}
@media screen and (min-width:992px){
    .form-box{
        width: 50%;
        margin-left: 220px;
    }
    .forgot{
        margin-left: 150px;
    }
    
}